Source: i3ipc
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/altdesktop/i3ipc-python
Homepage: https://github.com/altdesktop/i3ipc-python

Package: python3-i3ipc
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: An improved Python library to control i3wm and sway
 .
 i3ipc-python
 ============
 .
 An improved Python library to control `i3wm <http://i3wm.org>`__ and `sway <https://swaywm.org/>`__.
 .
 About
 -----
 .
 i3's interprocess communication (or `ipc <http://i3wm.org/docs/ipc.html>`__) is the interface i3wm uses to receive `commands <http://i3wm.org/docs/userguide.html#_list_of_commands>`__ from client applications such as ``i3-msg``. It also features a publish/subscribe mechanism for notifying interested parties of window manager events.
 .
 i3ipc-python is a Python library for controlling the window manager.  This project is intended to be useful for general scripting, and for applications that interact with the window manager like status line generators, notification daemons, and window pagers.
 .
 If you have an idea for a script to extend i3wm, you can add your script to the `examples folder <https://github.com/acrisci/i3ipc-python/tree/master/examples>`__.
 .
 For details on how to use the library, see the `reference documentation <https://i3ipc-python.readthedocs.io/en/latest/>`__.
 .
 `Chat <https://discord.gg/UdbXHVX>`__
 .
 Installation

