Source: asway
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 13)
Standards-Version: 3.9.6
Homepage: https://github.com/smurfix/asway

Package: python3-asway
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: sway, i3wm, python3-anyio (>= 4)
Description: Python library to control i3wm and sway via IPC
  The i3 window manager (X11) and the sway compositor (Wayland) provide an inter-
  process communications channel to process commands from client applications
  such as i3-msg or swaymsg. The protocol also features a publish/subscribe
  mechanism for notifying interested parties of window manager events.
  .
  This package contains a Python library for controlling the window manager.
  This project is intended to be useful for general scripting, and for
  applications that interact with the window manager like status line
  generators, notification daemons, and window pagers.
